<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="shortcut icon" href="/assets/img/logo4.png" type="image/x-icon">
    <title>Moda Feminina e Masculina - Raves</title>
</head>
<body>
    <header class="header-search">
        <div class="container">
            <nav class="nav-search">
                <div class="nav-item">
                    <form action="POST">
                        <input type="search" name="search_products" id="searchProducts" placeholder="Buscar produtos..">
                        <button type="submit"><i class='bx bx-search'></i></button>
                    </form>
                </div>
                <div class="nav-item">
                    <a href="/"><img src="/assets/img/logo2.png" alt="Logotipo Raves"></a>
                </div>
                <div class="nav-item">
                    <i class='bx bxs-user-circle'></i>
                    <i class='bx bxs-shopping-bag-alt'>
                        <span><center>0</center></span>
                    </i>
                    <i class='bx bxs-heart'>
                        <span><center>0</center></span>
                    </i>
                </div>
            </nav>
        </div>
    </header>
    <header class="header-nav">
        <div class="container">
            <nav class="nav-bar">
                <ul>
                    <a href="/"><li>Início</li></a>
                    <a href="/female"><li>Feminino</li></a>
                    <a href="/male"><li>Masculino</li></a>
                    <a href="/accessories"><li>Acessórios</li></a>
                </ul>
            </nav>
        </div>
    </header>
    <center>
        <div class="container">
            <section class="section-index-order">
                <div class="io-item">
                    <p><a href="/" class="index-init">Início</a> / <span class="path-page">Produtos</span></p>
                </div>
                <div class="io-item">
                    <p>Classificar por</p>
                    <select name="type_relevance" id="typeRelevance">
                        <option value="0">Preço: Menor ao Maior</option>
                        <option value="1">Preço: Maior ao Menor</option>
                        <option value="2">A - Z</option>
                        <option value="3">Z - A</option>
                        <option value="4">Mais Novo ao Mais Antigo</option>
                        <option value="5">Mais Antigo ao Mais Novo</option>
                        <option value="6" selected>Mais Vendidos</option>
                    </select>
                </div>
            </section>
        </div>
    </center>
    <center>
        <div class="container">
            <section class="section-products">
                <div class="filter-box">
                    
                </div>
                <div class="products-box" id="productsBox">
                    <!-- <div class="product-item">
                        <div class="product-bg" style="background-image: url(https://img.ltwebstatic.com/gspCenter/goodsImage/2022/12/13/9080433247_1005233/31342BB7183D9691240217391A34BF2D_thumbnail_405x552.jpg);"></div>
                        <div class="product-info">
                            <p class="product-title">WRJ vestido de manga tecido pipoquinha</p>
                            <p class="product-cash-price">R$ 129,99</p>
                            <p class="product-installments">10x de R$ 12,99</p>
                        </div>
                    </div> -->
                </div>
            </section>
        </div>
    </center>
    <footer class="footer">
        <div class="container">
            <div class="footer-box">
                <div class="footer-item">
                    
                </div>
                <div class="footer-item">

                </div>
                <div class="footer-item">

                </div>
                <div class="footer-item">

                </div>
            </div>
        </div>
    </footer>
</body>
</html>

<script>
    (async function () { 
        const products = await getProducts();

        const productsContainer = document.querySelector('.section-products .products-box');
    

        products.rows.forEach(product => {
            var valor = product.valor.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}); 

            productsContainer.innerHTML += `
            <div class="product-item">
                <div class="product-bg" style="background-image: url(https://img.ltwebstatic.com/gspCenter/goodsImage/2022/12/13/9080433247_1005233/31342BB7183D9691240217391A34BF2D_thumbnail_405x552.jpg);"></div>
                <div class="product-info">
                    <p class="product-title">${product.nome}</p>
                    <p class="product-cash-price">${valor}</p>
                    <p class="product-installments">10x de ${valor}</p>
                </div>
            </div>`;
        });
    })();

    async function getProducts() {
        const response = await fetch("/products", {
            method: 'get'
        });

        const products = await response.json();

        return products;
    };
</script>