
/* SECTION INDEX/ORDER
____________________________________________________________________________ */

section.section-index-order {
    width: 100%;
    height: 50px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.io-item .index-init {
    color: #303030;
    transition: .5s;
}

.io-item .index-init:hover {
    color: #750D8F;
    text-decoration: underline;
}

.io-item:last-of-type {
    display: flex;
    align-items: center;    
    flex-direction: row;
}

.io-item .path-page {
    font-weight: 700;
}

.io-item:last-of-type p {
    font-size: 12px;
}

.io-item select {
    padding: 10px 10px;
    margin-left: 20px;
    border: 1px solid #dadada;
}


/* SECTION FILTER/PRODUCTS
____________________________________________________________________________ */

.section-products {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-box {
    width: 20%;
}

.products-box {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 210px));
    grid-gap: 20px;
    justify-content: space-between;
}
  
.product-item {
    width: 100%;
    height: max-content;
    cursor: pointer;
    margin-top: 30px;
    position: relative;
    transition: .3s ease-in-out;
}

.product-item:hover {
    transform: scale(1.1);
}

.product-bg {
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .5s ease-in-out;
}

.product-info {
    width: 210px;
}

.product-title {
    color: #353435;
    font-size: 14px;
    text-align: center;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    /* overflow: hidden; */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding-top: 10px;
}

.product-cash-price {
    color: #51245C;
    text-align: center;
    font-size: 18px;
    padding-top: 5px;
    font-weight: 600;
}

.product-cash-price {
    color: #51245C;
    text-align: center;
    font-size: 18px;
    padding-top: 5px;
    font-weight: 600;
}

.product-installments {
    color: #616161;
    text-align: center;
    font-size: 13px;
    padding-top: 5px;
    font-weight: 600;
}