<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/app/base/base.css">
    <link rel="stylesheet" href="/app/index/index.css">
    <link rel="shortcut icon" href="/assets/logo4.png" type="image/x-icon">
    <title>Moda Feminina e Masculina - Raves</title>
</head>
<body>
    <header class="header-search">
        <div class="container">
            <nav class="nav-search">
                <div class="nav-item">
                    <form action="POST">
                        <input type="search" name="search_products" id="searchProducts" placeholder="Buscar produtos..">
                        <button type="submit"><i class='bx bx-search'></i></button>
                    </form>
                </div>
                <div class="nav-item">
                    <img src="/assets/logo2.png" alt="Logotipo Raves">
                </div>
                <div class="nav-item">
                    <i class='bx bxs-user-circle'></i>
                    <i class='bx bxs-shopping-bag-alt' ></i>
                    <i class='bx bxs-heart'></i>
                </div>
            </nav>
        </div>
    </header>
</body>
</html>